[user]
	name = Nan Zhong
	email = nan@notanumber.io
	signingkey = A2ED35D3
[core]
	editor = emacsclient
	excludesfile = /Users/nan/.gitignore
[url "git@github.internal.digitalocean.com:"]
	insteadOf = git://github.internal.digitalocean.com/
	insteadOf = https://github.internal.digitalocean.com/
	insteadOf = http://github.internal.digitalocean.com/
[url "git@github.com:"]
	insteadOf = git://github.com/
	insteadOf = https://github.com/