* {
        line-height: 1.3;
}

@font-face {
	font-family: 'Iosevka';
	font-weight: normal;
	font-style: normal;
	src: url('https://raw.githubusercontent.com/nanzhong/dotfiles/master/.config/blinksh/fonts/iosevka-nf/woff/iosevka-regular-nf-complete.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka';
	font-weight: normal;
	font-style: italic;
	src: url('https://raw.githubusercontent.com/nanzhong/dotfiles/master/.config/blinksh/fonts/iosevka-nf/woff/iosevka-italic-nf-complete.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka';
	font-weight: bold;
	font-style: normal;
	src: url('https://raw.githubusercontent.com/nanzhong/dotfiles/master/.config/blinksh/fonts/iosevka-nf/woff/iosevka-bold-nf-complete.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka';
	font-weight: bold;
	font-style: italic;
	src: url('https://raw.githubusercontent.com/nanzhong/dotfiles/master/.config/blinksh/fonts/iosevka-nf/woff/iosevka-bolditalic-nf-complete.woff') format('woff');
}
