@font-face {
	font-family: 'Iosevka Term NF';
	font-weight: normal;
	font-style: normal;
	src: url('https://raw.githubusercontent.com/nanzhong/workstation/master/dotfiles/.config/blink/fonts/iosevka-term-nf/woff/iosevka-term-nf-regular.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Term NF';
	font-weight: normal;
	font-style: italic;
	src: url('https://raw.githubusercontent.com/nanzhong/workstation/master/dotfiles/.config/blink/fonts/iosevka-term-nf/woff/iosevka-term-nf-italic.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Term NF';
	font-weight: bold;
	font-style: normal;
	src: url('https://raw.githubusercontent.com/nanzhong/workstation/master/dotfiles/.config/blink/fonts/iosevka-term-nf/woff/iosevka-term-nf-bold.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Term NF';
	font-weight: bold;
	font-style: italic;
	src: url('https://raw.githubusercontent.com/nanzhong/workstation/master/dotfiles/.config/blink/fonts/iosevka-term-nf/woff/iosevka-term-nf-bolditalic.woff') format('woff');
}
